
@import"utilities/reset";
@import"utilities/mq";
@import"utilities/variables";
@import"utilities/mixin";
@import"utilities/extend";


/*Estilos del header*/
.headerBodyHome{
    background-color:$fondoFooterHeader;

    .titulo{
        color:whitesmoke;
        font-size: 2.5rem;
        padding-left: 5rem ;
        font-family: Arial, Helvetica, sans-serif
    }
        .enlace{
            text-decoration: none;
            color:$colorFooterHeader;
            font-size: 1.2rem;
        }
            
         .enlace:hover{
         text-decoration:underline;
         color:#66bad1;
         transition: 1s;
         
        }
}

Main{
    @extend %flex;
    flex-direction: column;
    padding:1rem;
    background: linear-gradient(grey , whitesmoke, rgb(155, 151, 151) );

    .estiloMain {
    min-height: 650px;

    }

    h2, .hTresNosotros{
        font-weight: bold;
        text-align: center;
        font-size: 1.3rem;
    }

    .contenedorP{
        width: 70%;
        @extend %flex;
        justify-content: center;
        

        .parrafos{
            text-align: center;
            font-size: 1.2rem;
            
        }
    }

    .imagenHome{
        margin:1.3rem auto;
        box-shadow: 10px 10px 30px 15px black;
        max-width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .imagenNosotros, .imgNos, .imgServ{
        width: 40%;
        margin:1rem;
        padding-top: 1rem;
    }

    .mapa{
        padding :1rem 0;
    }

    /* estilo en lista servicios*/

    .items{
        list-style: none;
    }

    .items:before{
        content:"★";
    }

    /*Estilos en contacto*/

    form{
        border:3px solid rgb(66, 64, 64);
        padding: 3rem 5rem;
        margin: 1rem;
    }

    .datos{
        margin-left: 1rem;
        margin-top: 0.2em;
    }
    .enviar ,.restablecer{
      @include botones;
    }
    .enviar:hover{
        background:#66a6b8 ;
        transform: scale(0.5rem);
    }

    .restablecer:hover{
        background:#66a6b8 ;
        transform: scale(0.5rem);
    } 
}

/* estilos en los footer*/
footer{
    background-color:$fondoFooterHeader;
    color:$colorFooterHeader;
    text-align: center;
    padding-bottom:1rem;
    
    h4{
        font-size: 1rem;
    }
    
    .imgWhatsapp{
        max-width: 30px;
        max-height: 30px;
    }
}